@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Inter;
  src: url("/assets/fonts/Inter-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: Inter;
  src: url('/assets/fonts/Inter-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: Inter;
  src: url("/assets/fonts/Inter-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: Inter;
  src: url("/assets/fonts/Inter-Regular.ttf");
  font-weight: 400;
}

html body {
  @apply font-body antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-display
}

:root {
  --background: #FFFFFF;
  --foreground: #171717;
  --font-display: Inter;
  --font-body: Inter
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0C111D;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Inter;
}

@keyframes slide {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-slide {
  display: flex;
  animation: slide 50s linear infinite;
}