@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFFFFF;
  --foreground: #101828;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0C111D;
    --foreground: #F5F5F6;
  }
}

html body {
  @apply font-inter antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-inter
}

* {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Inter;
}

@keyframes slide {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-50% - 8px)); }
}

@keyframes slide-reverse {
  0% { transform: translateX(calc(-50% - 8px)); }
  100% { transform: translateX(0); }
}

.animate-slide {
  display: flex;
  animation: slide 30s linear infinite;
  will-change: transform;
}

.animate-slide-reverse {
  display: flex;
  animation: slide-reverse 30s linear infinite;
  will-change: transform;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}